# The following environment variables are required for the application to work.

# The Contentful GraphQL API host URL
# CONTENTFUL_GRAPHQL_BASE_URL="https://graphql.contentful.com/content/v1/"

# The Contentful API Access Token
# CONTENTFUL_ACCESS_TOKEN="**"

# The Contentful Space ID
# CONTENTFUL_SPACE_ID="**"

# The Contentful Environment ID
# CONTENTFUL_ENVIRONMENT_ID="**"