@import "tailwindcss";

/** THEME IMPORTS */
@import "./theme/theme_color.css";
@import "./theme/theme_text.css";
@import "./theme/theme_spacing.css";

/** UTILITY IMPORTS */
@import "./utility/utility_typography.css";

@theme inline {
  --font-sans: var(--font-dm-sans);
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: Arial, Helvetica, sans-serif;
}
