:root {
  /** neutral gradient */
  --neutral-000: rgb(0, 0, 0);
  --neutral-100: rgb(22, 29, 40);
  --neutral-200: rgb(28, 35, 47);
  --neutral-300: rgb(36, 43, 55);
  --neutral-400: rgb(46, 54, 65);
  --neutral-500: rgb(101, 109, 123);
  --neutral-600: rgb(119, 127, 141);
  --neutral-700: rgb(138, 146, 160);
  --neutral-800: rgb(148, 155, 168);
  --neutral-900: rgb(165, 172, 182);
  --neutral-1000: rgb(223, 225, 229);

  /** blue gradient */
  --blue-100: rgb(9, 30, 55);
  --blue-200: rgb(11, 35, 63);
  --blue-300: rgb(16, 43, 75);
  --blue-400: rgb(23, 54, 92);
  --blue-500: rgb(46, 109, 184);
  --blue-600: rgb(69, 128, 202);
  --blue-700: rgb(95, 148, 216);
  --blue-800: rgb(109, 157, 221);
  --blue-900: rgb(132, 174, 230);
  --blue-1000: rgb(169, 203, 250);
}

@theme inline {
  --color-*: initial;

  --color-bg: var(--neutral-200);
  --color-fg: var(--neutral-1000);

  /* surface */
  --color-surface: var(--neutral-200);
  --color-surface-raised: var(--neutral-300);
  --color-surface-sunken: var(--neutral-100);

  --color-surface-brand: var(--blue-200);
  --color-surface-brand-raised: var(--blue-300);
  --color-surface-brand-sunken: var(--blue-100);

  /* border */
  --color-border-neutral: var(--neutral-300);

  /* text */
  --color-text: var(--neutral-1000);
  --color-heading: var(--blue-1000);
  --color-subtle: var(--neutral-700);
}
