@theme {
  --spacing-dynamic-header-height: var(--dynamic-header-height);
  /** calculates the height of the viewport - the header. */
  --spacing-content-height: calc(100svh - var(--spacing-dynamic-header-height));

  --spacing-layout-large: 110rem;
  --spacing-layout-large-gutter: 1rem;
  --spacing-layout-large-gutter-xs: 1rem;
  --spacing-layout-large-gutter-sm: 2rem;
  --spacing-layout-large-gutter-md: 4rem;
  --spacing-layout-large-gutter-lg: 5rem;

  --spacing-layout-regular: 70rem;
  --spacing-layout-regular-gutter: 1rem;
  --spacing-layout-regular-gutter-xs: 1rem;
  --spacing-layout-regular-gutter-sm: 2rem;
  --spacing-layout-regular-gutter-md: 4rem;
  --spacing-layout-regular-gutter-lg: 5rem;

  --spacing-layout-small: 45rem;
  --spacing-layout-small-gutter: 1rem;
  --spacing-layout-small-gutter-xs: 1rem;
  --spacing-layout-small-gutter-sm: 2rem;
  --spacing-layout-small-gutter-md: 4rem;
  --spacing-layout-small-gutter-lg: 5rem;
}

@layer base {
  @media (width >= theme(--breakpoint-sm)) {
    :root {
      --dynamic-header-height: 9rem;
    }
  }

  @media (width <= theme(--breakpoint-sm)) {
    :root {
      --dynamic-header-height: 6rem;
    }
  }
}
